/* Write your desired css here */
body {
    height: 100vh;
    font-family: 'Open-Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    width: 200%; 
    animation: carouselSlide 10s infinite;
}

.carousel-img {
    flex: 1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: center;
}

/* Carousel Animation */
@keyframes carouselSlide {
    0%, 50% {
        transform: translateX(0%);
    }
    50.1%, 100% {
        transform: translateX(-50%);
    }
}



.app-container {
    background: rgba(241, 136, 185, 0.7);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #ff0000; 
}

.dropzone {
    padding: 60px 40px;
    background: #f1d2eb; 
    border: 2px dotted #fb1010; /* Tomato Red */
    border-radius: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.dropzone:hover {
    background: #b3c8f9;
}

.dropzone p {
    color: #333;
    font-weight: bold;
    
}

.dropzone p span {
    color: #fe1919; 
    text-decoration: underline;
}


.file-list {
    margin-top: 20px;
}

.file-name {
    background:rgba(244, 124, 180, 0.9);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.file-name:hover {
    background: #E1E3E8;
}

img.thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 65%;
}


.delete-btn {
    height: 40px;
    width: 50px;
    margin-left: 10px; /* Pushes the icon to the right end */
    background-color: rgb(52, 4, 136);
    color: white;
    border-radius: 50%; /* Makes it circular */
    
}
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    resize: vertical; /* Allows vertical resizing only */
}

.drag-over {
    border: 2px dashed #FF6347; 
    background-color: #E1E3E8; 

}

